# Configuration file for the StackStorm CLI
[general]
base_url = https://10.10.10.10
api_version = v1
# Path to the CA cert bundle used to validate the SSL certificates
cacert =
silence_ssl_warnings = True

[cli]
debug = True
# True to cache the retrieved auth token during authentication in ~/.st2/token
# and use the cached token in the subsequent API requests
cache_token = True
# Timezone used for timestamps displayed in the CLI. If not provided it defaults
# to UTC
timezone = Europe/Ljubljana

[credentials]
# Credentials used to authenticate against the auth API and retrieve the auth
# token
username = st2admin
password = Ch@ngeMe

[api]
#url = https://10.10.10.10:9101/v1
# or for a remote instance
url = https://10.10.10.10/api/v1
use_ssl = False

[auth]
#url = https://10.10.10.10:9100/
# or for a remote instance
url = https://10.10.10.10/auth/v1
use_ssl = False

[stream]
#url = https://10.10.10.10:9102
# or for a remote instance
url = https://10.10.10.10/stream/v1
use_ssl = False